div{
    margin: auto;
    width: 80%;
    text-align: center;
}
header, nav, footer {
    background-color: rgb(145, 224, 125);
    padding: 5px;
}
main {
    margin: 0 auto;
    height: 260px;
    overflow: hidden;
    text-align: left;
}
nav, footer{
    background: rgb(196, 248, 196);
    color: black;
}
.leftSide {
    text-align: center;
    height: 260px;
    background-color: rgb(228, 253, 191);
    float: left;
    width: 200px;
    height: 260px;
}

.ul{
    text-align: left;
    margin-left:-35px;
    list-style-type: none;
}
.foundation {
    text-align: auto;
    margin: auto;
}
.graph {
    text-align: center;
}
.list {
    text-align: left;
}
<<<<<<< Updated upstream
=======

div{
    margin: auto;
    width: 100%;
    text-align: center;
}
.column {
    float: left;
    width: 40%;
}

/*Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
>>>>>>> Stashed changes
